<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResTec</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <form action="/student" method="POST">
        <div id="stec" class="searching">
            <h1>Пошук викладача</h1><br>
            <div id="ev">
                <input type="text" required placeholder="Введіть прізвище" name="vsName" id="sIn"><br/>
                <input type="text" placeholder="Введіть ім'я" name="vName" id="sIn"><br>
            </div>
            <script src="index.js"></script>
            <div id="btn">
                <input type="submit" id="button" value="Пошук">
            </div>
        </div>
    </form>
    <% if (arrayMail != "") { %>
        <style>
            #stec{
                width: 1000px;
            }
            #stec.choosing{
                height: 300px;
            }
            #stec.calendar{
                height: 1100px;
            }
        </style>
        <form action="/student-tec" method="POST">
            <div id="stec" class="choosing">
                <h3>Знайдено викладачів:</h3>
                <div id="ev">
                     <% for(var i=0; i < arrayMail.length; i++) { %>
                        <div>
                            <input type="radio" id="arMail<%= i %>" name="tecMail" value="<%= arrayMail[i] %>">
                            <label for="arMail<%= i %>"><%= i+1 %>. <%= arraySurname[i] %> <%= arrayName[i] %> <%= arrayMail[i] %></label>
                        </div>
                     <% } %>
                 </div>
                 <div id="btn">
                    <input type="submit" id="button" value="Вибрати">
                </div>
            </div>
        </form>
    <% } else  if (wrngMess == "false" ) { %>
        <div id="stec" class="wrngMess">
            <h3>Викладачів не знайдено. :(</h3>
        </div>
    <% } %>
    <% if (userMail != "" ){ %>
    <form action="/student-cal" method="POST">
        <div id="stec" class="calendar">
            <div id="calendar">
                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FKiev&bgcolor=%23ffffff&showPrint=0&showCalendars=0&showTabs=0&mode=MONTH&src=<%=userMail%>&color=%23039BE5" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            <% if (arraySum.length != []) { %>
                <div id="ev" class="arrayEv">
                    <% for(var i=0; i < arraySum.length; i++) { %>
                        <div id="arrayEv">
                            <input type="radio" id="arEvent<%= i %>" name="tecEvent" value="<%= arrayEvId[i] %>">
                            <label class="arrayEv" for="arEvent<%= i %>">
                                <%= i+1 %>.<%= arraySum[i] %></br>
                                <%= arrayStartTime[i] %></br>
                                <%= arrayEndTime[i] %>
                            </label>
                        </div>
                    <% } %>
                </div>
                <div id="btn">
                    <input type="submit" id="button" value="Записатися">
                </div>
            <% } else { %>
                <div id="freeTime">
                    <h3>Вільного часу не знайдено</h3>
                </div>
            <% } %>
        </div>
    </form>
    <% } %>
</body>
</html>
