<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResTec</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <form id="studentForm" action="/student" method="POST">
        <div id="stec" class="searching">
            <h1>Пошук викладача</h1><br>
            <div id="ev">
                <input type="text" required placeholder="Введіть прізвище" name="vsName" value="Усіх" id="sIn"><br/>
                <input type="text" placeholder="Введіть ім'я" name="vName" id="sIn"><br>
            </div>
            <script src="index.js"></script>
            <div id="btn">
                <input type="submit" id="button" value="Пошук">
            </div>
        </div>
    </form>
    <% if (arrayMail != "") { %>
        <style>
            #stec{
                width: 410px;
            }
            #ev.teacher{
                height: 100px;
                overflow-y: auto;
                padding: 10px;
                box-sizing: border-box;
            }
            #stec.choosing{
                width: 410px;
            }
        </style>
        <form id="studentTec" action="/student-tec" method="POST">
            <div id="stec" class="choosing">
                <h3>Знайдено викладачів:</h3>
                <div id="ev" class="teacher">
                     <% for(var i=0; i < arrayMail.length; i++) { %>
                        <div>
                            <input type="radio" id="arMail<%= i %>" name="tecMail" value="<%= arrayMail[i] %>">
                            <label for="arMail<%= i %>"><%= i+1 %>. <%= arraySurname[i] %> <%= arrayName[i] %> <%= arrayMail[i] %></label>
                        </div>
                     <% } %>
                 </div>
                 <div id="btn">
                    <input type="submit" id="button" value="Вибрати">
                </div>
            </div>
        </form>
    <% } else  if (wrngMess == "false" ) { %>
        <div id="stec" class="wrngMess">
            <h3>Викладачів не знайдено. :(</h3>
        </div>
    <% } %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const selectButton = document.getElementById('button');

            if (selectButton) {
                selectButton.addEventListener('click', function() {
                    const selectedRadio = document.querySelector('input[type="radio"][name="tecMail"]:checked');
                    if (selectedRadio) {
                        const tecMail = selectedRadio.value;
                        console.log(tecMail);
                        // sessionStorage.setItem("tecMail", tecMail);

                        const serverUrl = '/studentCalendar.ejs';

                function sendTecMail() {
                const url = `${serverUrl}?tecMail=${encodeURIComponent(tecMail)}`;
                fetch(url, {
                    method: 'GET'
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Успіх:', data);
                })
                .catch((error) => {
                    console.error('Помилка:', error);
                });
                }

            // Виклик функції для надсилання даних
                sendTecMail();
                    }
                });
            }
        });
    </script>
</body>
</html>
